form{
    text-align: center
}
mat-form-field{
    width: 60%
}

a{
    width: 50%
}

.generate-btn {
    top: -20%;
    float:right
  }

  @media only screen and (max-width: 414px) {
          .generate-btn{
              float: right
          }
  }

.field-name {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.search{
    max-width: 85vw;
    pointer-events: auto;
    /* margin-top: 5%; */
    position: static;
    z-index: 9999;
    position: relative;
    max-height: 83vh;
}