<div class="main-content">
  <div class="container-fluid">
    <component-overview></component-overview>
    <div class="row">
      <div class="col-sm-3">
        <div class="card report-info">
          <div id="info" class="card-body card-body2">
        <rg-gauge-chart [canvasWidth]="300" [needleValue]="20" [centralLabel]="" [options]="{
                    hasNeedle: true,
                    rangeLabel: ['0', '100']
                }"
          [name]="'Current Temperature'" [bottomLabel]="20">
        </rg-gauge-chart>
        </div>
        </div>
        <!--Try to find angular component that shows same as grafana-->
      </div>
      <div class="col-9">
        <div class="card report-info">
          <div id="info" class="card-body card-body2">
        <canvas id="temperature"></canvas>
      </div>
      </div>
      </div>
    </div>
    <br>
    <div row="row">

      <!-- <div class="col-6">
        <component-reports-table [jsonFields]=11 [displayedColumns]="['SKU', 'Name', 'Temperature', 'Humidity', 'Timestamp', 'Status']"></component-reports-table>
      </div> -->
    </div>
    <!--Make one column for table, one column for graph in this row -->
  </div>