<div class="main-content">
  <div class="container-fluid">
    <component-overview></component-overview>
    <div class="row">
      <div class="col-sm-3">
        <rg-gauge-chart [canvasWidth]="300" [needleValue]="20" [centralLabel]="" [options]="{
                    hasNeedle: true,
                    rangeLabel: ['0', '100']
                }"
          [name]="'Current Temperature'" [bottomLabel]="20">
        </rg-gauge-chart>
        <br>
        <div class="card report-info">
          <div id="info" class="card-body card-body2 text-center">
            <br>
            <h6>Fruit Name: {{ fruitName }}</h6><br>
            <h6>SKU: SKU</h6><br>
            <h6>Lot : Lot #</h6><br>
          </div>
        </div>
        <!--Try to find angular component that shows same as grafana-->
      </div>
      <div class="col-9">
        <div class="card report-info">
          <div id="info" class="card-body card-body2">
            <div class="generate-btn">
              <a id="addBtn" class="btn btn-warning btn-link btn-icon btn-md edit" (click)="openSearch()">
                <i class="fa fa-search"></i>
              </a>
            </div>
        <canvas id="temperature"></canvas>
      </div>
      </div>
      </div>
    </div>
    <br>
    <div row="row">

      <!-- <div class="col-6">
        <component-reports-table [jsonFields]=11 [displayedColumns]="['SKU', 'Name', 'Temperature', 'Humidity', 'Timestamp', 'Status']"></component-reports-table>
      </div> -->
    </div>
    <!--Make one column for table, one column for graph in this row -->
  </div>