<div class="search">
  <div class="row">
      <div class="col-9">
      <h3 mat-dialog-title>Filter Results</h3>
      </div>
      <div class="col-3">
      <button class="btn btn-icon btn-md edit generate-btn" mat-dialog-close>
        <i class="fa fa-times"></i>
      </button>
      <button class="btn btn-icon btn-md edit generate-btn" (click)='genFormValues()'>
          <i class="fa fa-plus"></i>
      </button>
      </div>
  </div>

<form [formGroup]="form">

  <div class="form-group">
    <div class="row">
      <div class="col-sm-2 text-md-right">
        <label class="form-label field-name">SKU</label>
      </div>

      <div class="col-sm-10">
        <input type="string" class="form-control" formControlName="sku" required [ngClass]="{ 'is-invalid': isFieldValid('sku') }">
        <span *ngIf="isFieldValid('sku')" class="invalid-feedback">
          SKU is required
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-2 text-md-right">
        <label class="form-label field-name">Name</label>
      </div>

      <div class="col-sm-10">
        <input type="string" class="form-control" formControlName="name" required [ngClass]="{ 'is-invalid': isFieldValid('name') }">
        <span *ngIf="isFieldValid('name')" class="invalid-feedback">
          Name is required
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-2 text-md-right">
        <label class="form-label field-name">Lot</label>
      </div>

      <div class="col-sm-10">
        <input type="string" class="form-control" formControlName="lot" required [ngClass]="{ 'is-invalid': isFieldValid('lot') }">
        <span *ngIf="isFieldValid('lot')" class="invalid-feedback">
          Lot is required
        </span>
      </div>
    </div>
  </div>

  <!-- <div class="form-group">
    <div class="row">
      <div class="col-sm-2 text-md-right">
        <label class="form-label field-name">Date Range</label>
      </div>
      <div class="col-sm-5">
        <mat-form-field class="example-full-width">
          <input type="date" matInput placeholder="Start date" formControlName="start_date" (change)="checkDates()">
        </mat-form-field>
      </div>
      <div class="col-sm-5">
        <mat-form-field class="example-full-width">
          <input type="date" matInput placeholder="End date" formControlName="end_date" (change)="checkDates()">
        </mat-form-field>
      </div>
    </div>
  </div>

  <div *ngIf="dateNotValid">
    <p class="error-msg">{{ message }}</p>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-2 text-md-right">
        <label class="form-label field-name">Time Period</label>
      </div>

      <div class="col-sm-10">
        <mat-form-field>
          <select matNativeControl class="form-control" formControlName="period" (click)="checkDates()" [attr.disabled]="!checkDates() ? false : null">
            <option value="week">1 Week</option>
            <option value="mon">1 Month</option>
            <option value="3mons">3 Months</option>
            <option value="6mons">6 Months</option>
            <option value="year">1 Year</option>
          </select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-2 text-md-right">
        <label class="form-label field-name">Search Filter</label>
      </div>

      <div class="col-sm-10">
        <mat-checkbox formControlName="exact_match">Check box to apply all search fields to specific search.</mat-checkbox>
      </div>
    </div>
  </div> -->

  <div class="row submit-btn-container">
    <div class="col-sm-3 offset-sm-3">
      <button mat-flat-button type="submit" id="addProduct" class="w-100" (click)="onSubmit()" color="accent">
        Search
      </button>
    </div>

    <div class="col-sm-3 offset-sm-1">
      <button mat-flat-button type="submit" id="cancelProduct" class="w-100" color="warn" (click)="reset()">Reset</button>
    </div>
  </div>
</form>
</div>