.generate-btn {
  position: absolute;
  right: 23px;
}

.generate-btn button {
  margin-top :0 !important;
}

@media only screen and (max-width: 414px) {
  .canvas{
    height: 80%
  }
}

.gauge{
  height: 95%;
}

.center{
  position: absolute;
  top: 25%
}