<div class="main-content">
    <div class="container-fluid">
       <!-- <component-overview></component-overview> -->
        <div class="row">
                <div class="card report-info mx-auto col-12">
                        <div class="card-body">
                            <div class="row">
                            <div class="col-4 text-center">
                                <h6>Fruit Name: {{ fruitName }}</h6>
                            </div>
                            <div class="col-4 text-center">
                                <h6>SKU: {{ sku }}</h6>
                            </div>
                            <div class="col-4 text-center">
                                <h6>Lot : {{ lot }}</h6>
                            </div>
                        </div>
                    </div>
                    </div>
        </div>
        <div class="row">
        <div class="col-sm-3">
                <div class="card report-info gauge">
                        <div id="info" class="card-body card-body2 mx-auto center">
                <!-- <rg-gauge-chart
                    [canvasWidth]="carbonCanvasWidth"
                    [needleValue]="carbonNeedleValue"
                    [centralLabel]="carbonCentralLabel"
                    [options]="carbonOptions"
                    [name]="carbonName"
                    [bottomLabel]="carbonBottomLabel">
                </rg-gauge-chart> -->
                <ngx-gauge [type]="gaugeType"
                           [value]="gaugeValue"
                           [label]="gaugeLabel"
                           [append]="gaugeAppendText"
                           background-color="#A1A">
                </ngx-gauge>
                </div>
                </div>
            <br>
        </div>
        <div class="col-sm-9">
            <div class="card report-info">
                <div class="card-body">
                    <div class="generate-btn">
                        <a id="addBtn" class="btn btn-warning btn-link btn-icon btn-md edit" (click)="openSearch()">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                    <h6 class="text-center">Carbon Levels</h6>
            <canvas id="carbon" class="canvas" height="30%" width="100%"></canvas>
        </div>
        </div>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                    <div class="card report-info gauge">
                            <div id="info" class="card-body card-body2 mx-auto center">
                    <rg-gauge-chart
                        [canvasWidth]="ethyCanvasWidth"
                        [needleValue]="ethyNeedleValue"
                        [centralLabel]="ethyCentralLabel"
                        [options]="ethyOptions"
                        [name]="ethyName"
                        [bottomLabel]="ethyBottomLabel">
                    </rg-gauge-chart>
                    </div>
                    </div>
              <br>
            </div>
            <div class="col-sm-9">
              <div class="card report-info">
                <div id="info" class="card-body card-body2">
                  <div class="generate-btn">
                    <a id="addBtn" class="btn btn-warning btn-link btn-icon btn-md edit" (click)="openSearch()">
                      <i class="fa fa-search"></i>
                    </a>
                  </div>
                  <h6 class="text-center">Ethylene Levels</h6>
              <canvas id="ethylene" class="canvas" height="30%" width="100%"></canvas>
              </div>
              </div>
            </div>
          </div>
          <div class="row">
                <div class="col-sm-3">
                        <div class="card report-info gauge">
                                <div id="info" class="card-body card-body2 mx-auto center">
                        <rg-gauge-chart
                            [canvasWidth]="tempCanvasWidth"
                            [needleValue]="tempNeedleValue"
                            [centralLabel]="tempCentralLabel"
                            [options]="tempOptions"
                            [name]="tempName"
                            [bottomLabel]="tempBottomLabel">
                        </rg-gauge-chart>
                        </div>
                        </div>
                  <br>
                </div>
                <div class="col-sm-9">
                  <div class="card report-info">
                    <div id="info" class="card-body card-body2">
                      <div class="generate-btn">
                        <a id="addBtn" class="btn btn-warning btn-link btn-icon btn-md edit" (click)="openSearch()">
                          <i class="fa fa-search"></i>
                        </a>
                      </div>
                      <h6 class="text-center">Temperature/Humidity</h6>
                  <canvas id="temperature" class="canvas" height="30%" width="100%"></canvas>
                </div>
                </div>
                </div>
              </div>
        <br>
        <div row="row">
            <component-sensor></component-sensor>
            <!-- <div class="col-sm-8">
                <component-reports-table [jsonFields]=8 [displayedColumns]="['SKU', 'Name', 'Carbon', 'Timestamp', 'Status', 'Projected Expiry', 'Trend (%)']"></component-reports-table>
            </div> -->
        </div>
        <!--Make one column for table, one column for graph in this row -->
        </div>