<div class="main-content">
  <div class="container-fluid">
    <mat-card>
      <mat-card-content class="row table-wrapper-scroll-y">
        <!--
                <form>
                    <div class="row mx-auto">
                        <div class="col-sm-6">
                            <select #field name="field" class="form-control">
                                <option value="upc">UPC</option>
                                <option value="sku">SKU</option>
                                <option value="name">Name</option>
                                <option value="origin">Origin</option>
                                <option value="location">Location</option>
                                <option value="date_arrived">Arrival Date</option>
                                <option value="expiry_date">Expiry Date</option>
                                <option value="sale_price">Sale Price</option>
                                <option value="sold_weight">Sold Weight</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <input style="height:100%" #query name="query" class="form-control" placeholder="Search">
                        </div>
                    </div>
                    <div class="row mx-auto">
                        <div class="col-auto">
                            <button class="btn btn-primary" type="submit" (click)="onSearch()">
                                Search
                            </button>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-primary" type="submit" (click)="resetData()">
                                Reset
                            </button>
                        </div>
                    </div>


                    <div>

                    </div>
                </form> -->

        <div class="row">
          <div class="col-4">
            <a id="addBtn" class="btn btn-danger btn-link btn-icon btn-md add" (click)="populateFields()">
              <i class="fa fa-plus"></i>
            </a>
          </div>
          <div class="col-4">
            <a id="modifyBtn" class="btn btn-danger btn-link btn-icon btn-md edit" (click)="removeSelectedRows()">
              <i class="fa fa-times"></i>
            </a>
          </div>
          <div class="col-4">
            <a id="deleteBtn" class="btn btn-danger btn-link btn-icon btn-md remove" (click)="removeSelectedRows()">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>



        <div class="mat-elevation-z8 table-responsive">
          <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                Select
              </th>
              <td mat-cell *matCellDef="let row">
                <section class="example-section"></section>
                <mat-checkbox (change)="$event ? selection.toggle(row) : null">
                </mat-checkbox>
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="sku">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> SKU </th>
              <td mat-cell *matCellDef="let element"><a> {{ element.sku }}</a>
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let element"><a> {{ element.name }}</a> </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="leftover waste">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Leftover Waste </th>
              <td mat-cell *matCellDef="let element"><a> {{ element['Leftover Waste'] }}</a> </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell *matCellDef="let element"><a> {{ element.status }}</a> </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="projected expiry">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Timestamp </th>
              <td mat-cell *matCellDef="let element"><a> {{ element['projected expiry'] * 1000 | date:
                  'dd/MM/yyyy' }}</a> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row columns: displayedColumns"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>