<div class="main-content">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-tag-content text-warning"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Wasted Product (Kg)</p>
                <p #arrival class="card-title"> {{ wasteWeight }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-refresh"></i>per day
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-basket text-success"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Total Products (Kg)</p>
                <p #total class="card-title"> {{ totalWeight }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-calendar-o"></i>per day
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-cart-simple text-danger"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Products sold (Kg/hr)</p>
                <p #average class="card-title"> {{ prodSold }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-clock-o"></i>per day
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-4">
      <div class="card">
        <div class="card-body">
          <h6 class="big-title">Total (Kg) | Sold (Kg) | Waste (Kg) / Day</h6>
          <canvas id="totalChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4">
      <div class="card">
        <div class="card-body">
          <h6 class="big-title">Products sold (Kg/Day)</h6>
          <canvas id="soldChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4">
      <div class="card">
        <div class="card-body">
          <h6 class="big-title">Products sold (Kg/Day)</h6>
          <canvas id="soldChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-4">
      <div class="card">
        <div class="card-body">
          <h6 class="big-title">Distribution by weight</h6>
          <canvas id="distChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4">
      <div class="card">
        <div class="card-body">
          <h6 class="big-title">Donations (Kg/Products)</h6>
          <canvas id="donationChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4">
      <div class="card">
        <div class="card-body">
          <h6 class="big-title">Donations (Kg/Products)</h6>
          <canvas id="donationChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>