<h4 mat-dialog-title>
    Update Sale: #{{ this.curField.data.sku }}, {{ this.curField.data.name }}
</h4>
    <form [formGroup]="form" #updateInventory="ngForm">
        <br>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-2 col-md-3 control-label mx-auto"> SKU </label>
                <div class="col-sm-8 mx-auto">
                    <input type="text" class="form-control" formControlName="sku" required
                        [ngClass]="{ 'is-invalid': isFieldValid('sku') }"
                        readonly>
                        <span *ngIf="isFieldValid('sku')" class="invalid-feedback">
                            SKU is required
                        </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-2 col-md-3 control-label mx-auto"> Item Name </label>
                <div class="col-sm-8 mx-auto">
                    <input type="text" class="form-control" formControlName="name" required
                        [ngClass]=" {'is-invalid': isFieldValid('name') }">
                        <span *ngIf="isFieldValid('name')" class="invalid-feedback">
                            Name is required
                        </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-2 col-md-3 control-label mx-auto"> Lot </label>
                <div class="col-sm-8 mx-auto">
                    <input type="text" class="form-control" formControlName="lot" required
                        [ngClass]="{ 'is-invalid': isFieldValid('lot') }">
                        <span *ngIf="isFieldValid('lot')" class="invalid-feedback">
                            Lot is required
                        </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-2 col-md-3 control-label mx-auto"> Sold Weight </label>
                <div class="col-sm-8 mx-auto">
                    <input type="text" class="form-control" formControlName="soldWeight" required
                        [ngClass]="{ 'is-invalid': isFieldValid('soldWeight') }">
                        <span *ngIf="isFieldValid('soldWeight')" class="invalid-feedback">
                            Sold Weight is required
                        </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-2 col-md-3 control-label mx-auto"> Total Weight </label>
                <div class="col-sm-8 mx-auto">
                    <input type="text" class="form-control" formControlName="totalWeight" required
                        [ngClass]="{ 'is-invalid': isFieldValid('totalWeight') }">
                        <span *ngIf="isFieldValid('totalWeight')" class="invalid-feedback">
                            Total Weight is required
                        </span>
                </div>
            </div>
        </div>
        <div class="modal-footer mx-auto">
            <mat-dialog-actions>
                <button mat-flat-button color="accent" [mat-dialog-close]="true" (click)="onSubmit()">Update</button>
                <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
                <button mat-flat-button color="warn" [mat-dialog-close]="true">Close</button>
            </mat-dialog-actions>
            <!-- <button type="submit" id="addProduct" class="btn btn-info btn-fill col-sm-6 col-md-6">Update Product</button>
            <button type="submit" id="cancelProduct" class="btn btn-danger btn-fill col-sm-6 col-md-6" (click)="reset()">Reset</button> -->
        </div>
    </form>