@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

/*!

 =========================================================
 * Paper Dashboard Pro Angular - v1.1.0
 =========================================================

 * Product Page: https://www.creative-tim.com/product/paper-dashboard-pro-angular
 * Copyright 2018 Creative Tim (http://www.creative-tim.com)

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

*/
@import '~bootstrap/scss/bootstrap';
@import 'app-template/variables';
@import 'app-template/mixins';

// Plugins CSS
@import 'app-template/plugins/plugin-bootstrap-switch';
@import 'app-template/plugins/plugin-bootstrap-table';
@import 'app-template/plugins/plugin-nouislider';
@import 'app-template/plugins/plugin-animate-bootstrap-notify';
@import 'app-template/plugins/plugin-perfect-scrollbar';

@import 'app-template/plugins/plugin-card-wizard';
@import 'app-template/plugins/plugin-datetimepicker';
@import 'app-template/plugins/plugin-bootstrap-select';
@import 'app-template/plugins/plugin-jasny-fileupload';
@import 'app-template/plugins/plugin-tagsinput';
@import 'app-template/plugins/plugin-datatables.net';
@import 'app-template/plugins/plugin-jquery.jvectormap';
@import 'app-template/plugins/plugin-fullcalendar';

// Core CSS
@import 'app-template/nucleo-outline';
@import 'app-template/buttons';
@import 'app-template/social-buttons';
@import 'app-template/animated-buttons';
@import 'app-template/inputs';
@import 'app-template/typography';
@import 'app-template/misc';
@import 'app-template/misc-extend';
@import 'app-template/navbar';
@import 'app-template/dropdown';
@import 'app-template/alerts';
@import 'app-template/images';
@import 'app-template/tables';
@import 'app-template/footers';
@import 'app-template/fixed-plugin';

// components
@import 'app-template/checkboxes-radio';
@import 'app-template/progress';
@import 'app-template/badges';
@import 'app-template/pagination';
@import 'app-template/info-areas';
@import 'app-template/pills';
@import 'app-template/tabs';
@import 'app-template/popups';
@import 'app-template/modals';
@import 'app-template/carousel';
@import 'app-template/sidebar-and-main-panel';
@import 'app-template/timeline';



// cards
@import 'app-template/cards';
@import "app-template/cards/card-chart";
@import "app-template/cards/card-map";
@import "app-template/cards/card-user";

@import "app-template/cards/card-background";
@import "app-template/cards/card-collapse";
@import "app-template/cards/card-contributions";
@import "app-template/cards/card-info-area";
@import "app-template/cards/card-lock";
@import "app-template/cards/card-pricing";
@import "app-template/cards/card-profile";
@import "app-template/cards/card-signup";
@import "app-template/cards/card-stats-mini";
@import "app-template/cards/card-stats";
@import "app-template/cards/card-subcategories";
@import "app-template/cards/card-testimonials";
@import "app-template/cards/card-tasks";

// example pages and sections
@import 'app-template/example-pages';
@import 'app-template/sections';


@import 'app-template/responsive';
@import 'app-template/media-queries';


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}
